.produtos {
    /* width: 940px; */
    margin: 0 auto;
    padding: 50px 50px;
}

.produtos nav{
    display: flex;
    flex-wrap: wrap;
}

.produtos li {
    flex: 1 1 250px;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% 1.5% 0;
    padding: 30px 20px;
    box-sizing: border-box; /* complementa o padding */

    /* Borba */
    /* 
    border-color: #000000;
    border-width: 6px;
    border-style: double;
    */
    border: 6px double #000000;
    border-radius: 10px;
}

.produtos img{
    width: 100%;
}

/* movimento dos quadros de produtos */
.produtos li:hover{
    border-color: #C78C19;    
}

.produtos li:active {
    border-color: rgb(26, 75, 167);
}

.produtos li:hover h2 {
    font-size: 34px;
}

/* Caminho de Produtos para Contatos */
.produtos li a {
    text-decoration: none;
    color: #000000;
}

/* estilo do texto dos quadros de produtos */
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos p {
    font-size: 18px;
    font-style: italic;
}

.produtos h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}