/* Banner do cabeçalho */
.banner{
    width: 100%;
}

/* Sobre */
.titulo-principal {
    text-align: center;
    font-size: 2em; /* Vai ser 2x maior que o resto do texto independente do tamanho */
    margin: 1em 1em;
    clear: left;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	/* width: 940px; -> responsivo */
	margin: 0 auto;
}

.principal p {
    padding: 0 0.8em 0 0.8em;
    font-size: 16px;
    margin: 0 0 1em;
    text-align: justify;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

    /* Imagem Sobre */
.fotoSobre {
    width: 120px;
    float: left;
    margin: 0px 20px 20px 0px;
}

/* Mapa */
.localizacao {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.localizacao-conteudo {
    display: flex;
    justify-content: center;
    /* width: 560px; */
    margin: 3em auto;
}

.localizacao p {
    margin: 0 0 2em;
    text-align: center;
}

.localizacao-conteudo .responsivo-mapa {
    width: 60%;
}

/* Beneficios */
.beneficios {
    padding: 1em 0;
    background: #888888;
}

.conteudo-beneficios {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    margin: 0 0 0 20px;
    vertical-align: top;
    display: inline-block;
}

.banner2 {
    width: 40%;
    margin: 0 0 10% 10%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.itens-beneficios:houver {
    opacity: 0.3;
}

.video {
    display: flex;
    justify-content: center;
    /* width: 560px; */
    margin: 10em auto;
}

.video .responsivo-video {
    width: 60%;

}

/* Responsividade */
/* @media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}

	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
} */
